

.final{
    position: absolute;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0px;

    height: 100vh;
    background-color: #edfafd;
    color: #000e22;
    transition: background 0.2s linear;
}

    main {
        max-width: 1000px; 
        margin: 60px auto; 
        padding: 20px; 
        text-align: left; 
    }





/* a */

.expande {
    right: 30px;
    left: auto;
    top: 20px;
    position: fixed;   
    font-size: 25px;
    z-index: 5;
    cursor: pointer;

}
.menu.grande {
    height: auto;
    width: 200px;
    padding: 10px;
    border: 1px solid;
    overflow: visible;
}




/* nav */






nav.menu {
    position: fixed;
    margin-top: 20px;
    top: 30px;
    right: 0px;
    left: auto;
    border-color: rgb(21, 0, 48);
    z-index: 5;
background-color: rgb(255, 255, 255);
    box-shadow: -1px 1px 1px black;
    padding: 0px;

    border-radius: 10%;
    transition: all 0.2s ease;
    height: 0px;
    width: 0px;
    overflow: hidden;
}

nav.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

nav.menu li {
    display: block; 
}

        nav.menu a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
        nav.menu a:hover {
            color: #007bff;
        }



        /* aa */



        .secaoSumida {
            display: none;
        }
        .secaoSumida.selecionada {
            display: block;
        }

        body.dark {
        background-color:#0c0d0e;
        color: #effffe;
        }

    .botoes {
        width: 120px;
        height: 60px;
        background-color: #edfafd;
        border: 2px solid #000e22;
        font-size: 20px;
        cursor: pointer;
        border-radius: 10%;
    }

    .botoes:hover {
        background-color: #000e22;
        color: #edfafd;
        transition: all 0.1s ease;
    }

    


.listagem{
text-align: left;    
}  

.donocoluna{
    display: flex;
    justify-content: space-between;

}
.Coluna1{
    flex: 1; 
    margin-right: 20px;
}
.Coluna2{
flex: 2;
margin-left: 20px;
max-width: 450px;
}
